@page
@model Chino.IdentityServer.Pages.Account.LoginModel
@inject IRequestJsonLocalization jsonLocalizer
@inject IStringLocalizer<Chino.IdentityServer.Pages.Account.LoginModel> localizer
@{
    Layout = "_AccountLayout";
    ViewContext.ClientValidationEnabled = true;
    ViewData["Title"] = localizer["HTML_TITLE_Login"];
}

<div class="row justify-content-center h-100">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4 my-auto">
        <div class="card shadow-sm mb-4">
            <div class="card-body pt-5 pb-3">
                <h3 class="text-center">@localizer["H1_Login"]</h3>
                <p class="text-center">@string.Format(localizer["SubTitle_Login"], jsonLocalizer.GetConfigurationValue("Chino:AccountName"))</p>

                <form method="post" class="mt-4">
                    <div class="form-floating mb-3">
                        <input class="form-control @(Model.IdentityStringErrorMessage.IsNullOrEmpty() ? string.Empty : "is-invalid")" id="identityStringInput" placeholder="name@example.com" aria-describedby="validationUsernameFeedback"
                               asp-for="IdentityString" />
                        <label for="identityStringInput">@localizer["UserNameOrEmail"]</label>
                        <div><span asp-validation-for="IdentityString" class="text-danger"></span></div>
                    </div>


                    <a class="link-primary btn mt-1 ps-1">@localizer["LoginWithPhoneNumber"]</a>
                    <br>
                    <button class="btn btn-primary float-end ">@localizer["btn_Next"]</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center py-0">
                <a class="link-secondary btn">@localizer["link_createNewAccount"]</a>
            </div>
        </div>

        <div class="card border-2 shadow-sm">
            <div class="card-body">
                @localizer["title_otherLoginWay"]
                <br>
                <div class="justify-content-center">
                    <button class="btn btn-outline-primary">Github</button>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="dropdown d-inline">
                <button class="btn dropdown-toggle btn-sm" type="button" id="language_dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">简体中文</button>
                <ul class="dropdown-menu" aria-labelledby="language_dropdownMenuButton">
                    <li><button class="dropdown-item">简体中文</button></li>
                    <li><button class="dropdown-item">English</button></li>
                </ul>
            </div>

            <a class="btn btn-sm text-muted float-end">@localizer["link_help"]</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

