@page
@model Chino.IdentityServer.Pages.IndexModel
@{
}

<h1>这里姑且算首页啊</h1>

<script src="~/js/site.js"></script>
<link rel="stylesheet" href="_content/Chino.RazorPages.Shared/lib/bootstrap/dist/css/bootstrap.css" />