@inject IRequestJsonLocalization JsonLocalizer
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "Chino") - @JsonLocalizer.GetConfigurationValue("Chino:Admin:DashboardName")</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="col-auto" asp-fallback-test-property="width"
              asp-fallback-test-value="auto"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous" />
    </environment>

    <link rel="stylesheet" href="~/css/chino-admin-dashboard.css" asp-append-version="true" />
    <link href="~/css/icons.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    @*顶部导航栏*@
    <nav class="navbar navbar-dark sticky-top bg-dark col-12 px-4 shadow-sm d-md-none">
        <a href="#" class="navbar-brand me-lg-5">标题</a>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
