<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

    //这个地方会使用Bootstrap的表单验证css

    let valid_settings = {
        validClass: "is-valid",
        errorClass: "is-invalid"
    }
    $.validator.setDefaults(valid_settings);
    $.validator.unobtrusive.options = valid_settings;
</script>
