@page "{IdentityString}/{IdentityType:int}"
@model Chino.IdentityServer.Pages.Account.Signin.PasswordModel
@inject  IRequestJsonLocalization jsonLocalizer
@inject IStringLocalizer<Chino.IdentityServer.Pages.Account.Signin.PasswordModel> localizer
@{
    Layout = "_AccountLayout";
    ViewContext.ClientValidationEnabled = true;
}

<div class="row justify-content-center h-100">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4 my-auto">
        <div class="card shadow-sm mb-4">
            <div class="card-body pt-5 pb-3">
                <h3 class="text-center">@localizer["h1_welcome"]</h3>
                <div class="row w-100 justify-content-center mx-0">
                    <a class="btn btn-sm border rounded-1 rounded-pill px-3 col-auto" 
                       asp-page="../Login" 
                       asp-route-ReturnUrl="@Model.ReturnUrl"
                       asp-route-identityStr="@Model.IdentityString">
                        <span class="oi oi-person ms-0 me-2"></span>
                        @Model.IdentityString
                    </a>
                </div>
                @*<p class="text-center">@string.Format(localizer["SubTitle_Login"], jsonLocalizer.GetConfigurationValue("Chino:AccountName"))</p>*@

                <form method="post" class="mt-4">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="passwordInput" aria-describedby="validationPasswordFeedback" placeholder="password"
                               asp-for="Password" />
                        <label asp-for="Password">@localizer["input_password"]</label>
                        <div><span asp-validation-for="Password" class="text-danger"></span></div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="RememberLogin" />
                        <label class="form-check-label" asp-for="RememberLogin">@localizer["remember_login"]</label>
                    </div>

                    <br>
                    <button class="btn btn-primary float-end ">@localizer["btn_login"]</button>
                </form>
            </div>
        </div>

        <div class="mt-3">
            <div class="dropdown d-inline">
                <button class="btn dropdown-toggle btn-sm" type="button" id="language_dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">简体中文</button>
                <ul class="dropdown-menu" aria-labelledby="language_dropdownMenuButton">
                    <li><button class="dropdown-item">简体中文</button></li>
                    <li><button class="dropdown-item">English</button></li>
                </ul>
            </div>

            <a class="btn btn-sm text-muted float-end">@localizer["link_help"]</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}